# Assignment 2

**Generative AI rule:** For this assignment, you are allowed to use generative AI tools for assistance, but the code must be your original work—any code that is not your own will be considered cheating.

## Data

This is a historical dataset on the modern Olympic Games, including all the Games from Athens 1896 to Rio 2016. The data was taken from Kaggle. The `athlete_events` Dataset contains $271,116$ rows and $15$ columns.

**Important note**: Athletes with the same name might not be the same individuals. To accurately distinguish them, make sure to use their unique IDs.

**ATTRIBUTES:**

**athlete_events.csv**

| Column Name | Data Type | Description/Notes |
|:----:|:----:|:----|
| ID |  integer | Unique number for each athlete |
| Name | string | Athlete’s name |
| Sex | string | M or F |
| Age | integer |  |
| Height | integer | In centimeters |
| Weight | integer | In kilograms |
| Team | string | Team name |
| NOC | string | National Olympic Committee, 3 letter code (Matches with `NOC` from noc_regions.csv) |
| Games | string | Year and season |
| Year | integer |  |
| Season | string | Summer or Winter |
| City | string | Host city |
| Sport | string |  |
| Event | string |  |
| Medal | string | Gold, Silver, Bronze, or NA |

**Source:** Griffin, R, H (2018) 120 years of Olympic history: athletes and results, athlete_events, Found at: https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results#athlete_events.csv

Download athlete_events.csv from the link above and load it into a DataFrame called `athlete_events`:

In [3]:
# Your code goes here
import pandas as pd
athelete_events = pd.read_csv("/assignment2/athlete_events.csv")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Use `info()` method on this DataFrame to get a sense of the data:

In [8]:
# Your code goes here
athelete_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [4]:
athelete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

## Question 1

Identify athletes who meet all of the following criteria:

- They are male (Sex is "M").
- Their age is below 25.
- They have participated in the Summer Olympics.
- They have won a medal.

Once you have filtered the athletes based on the above criteria, calculate the average height and weight of these athletes.

In [5]:
# Your code goes here
identify = athelete_events[(athelete_events['Sex'] == 'M') & (athelete_events['Age']<25) & (athelete_events['Season']=="Summer") & (athelete_events['Medal'].notnull())]
av_height = identify['Height'].mean()
av_weight = identify['Weight'].mean()
print(f'The average height is :{av_height}, The average weight is {av_weight}')

The average height is :181.07452317797146, The average weight is 77.5788491246138

## Question 2

Using the dataset, group the athletes by "Team" and calculate the following for each team:

- Which team has the maximum number of atheletes?
- Which team has competed in the highest number of distinct sports?

In [8]:
# Your code goes here
athelete_count = athelete_events.groupby("Team")['ID'].count()
athelete_most = athelete_count.max()
the_one_team = athelete_count.sort_values(ascending=False).index[0]
print(f'The team has most atheletes is {the_one_team}, and the number is: {athelete_most}')

The team has most atheletes is United States, and the number is: 17847

## Question 3

**True or False?**

> The average height of athletes who won a medal in Speed Skating is greater than the average height of athletes who won a medal in Basketball.

Write code to determine if this statement is True or False.

In [9]:
# Your code goes here
speed_skating_data = athelete_events[(athelete_events['Sport'] == 'Speed Skating') & (athelete_events['Medal'].notnull())]
speed_heightdata = speed_skating_data['Height'].mean()
basketball_data = athelete_events[(athelete_events['Sport'] == 'Basketball') & (athelete_events['Medal'].notnull())]
basketball_height = basketball_data['Height'].mean()
if speed_heightdata > basketball_height:
  print("False")
elif speed_heightdata < basketball_height:
  print("True")

True

## Question 4

Identify athletes who have participated in multiple Olympic events (more than one unique event). For these athletes:

- Calculate the sum of the total number of events they participated in altogether.
- Identify the athletes who have won at least two medals (any type of medal).  How many such atheletes are there?

In [10]:
# Your code goes here
athelete_participated_more = athelete_events.groupby('ID')['Event'].nunique()
totalpeople = athelete_participated_more[athelete_participated_more>1]
total_events =totalpeople.sum()
print(f'The total number of the event is {total_events}')
mostid = totalpeople.index
proid = athelete_events[athelete_events['ID'].isin(mostid)]
legend = proid.groupby('ID')['Medal'].count()
atheletesnums =(legend>1).sum()
print(f' {atheletesnums} people win at least 2 medals.')

The total number of the event is 36103
 1382 people win at least 2 medals.

## Question 5

Identify all athletes who have won at least one medal and have participated in two or more different sports. For these athletes:

- Find the total number of different sports each of them participated in. Which athlete has the highest number of sports? And how many?
- Calculate the average number of medals won by these athletes. Which athlete has the maximum number of medals? And how many?

In [17]:
# Your code goes here
crosssport_proid = athelete_events.groupby('ID')['Sport'].nunique()
crosssport_medalid = athelete_events.groupby('ID')['Medal'].count()
crossport_id_step = (crosssport_proid>=2) & (crosssport_medalid>=1)
crossport_id = crossport_id_step[crossport_id_step].index
eligible_atheletes = athelete_events[athelete_events['ID'].isin(crossport_id)]
#finished finding the index, question1
sports_id = eligible_atheletes.groupby('ID')['Sport'].nunique()
topsports_id = sports_id.idxmax()
topsports_num = sports_id.max()
#question2
medals_id = eligible_atheletes.groupby('ID')['Medal'].count()
avg_medals = medals_id.mean().round(2)
topmedal_id = medals_id.idxmax()
topmedal_num = medals_id.max()

print(f"Athlete with most sports: ID={topsports_id}, sports={topsports_num}")
print(f"Athlete with most medals: ID={topmedal_id}, medals={topmedal_num}")
print(f"Average number of medals is {avg_medals}")
print(crossport_id_step)
print(crossport_id)
print(eligible_atheletes)

Athlete with most sports: ID=32330, sports=4
Athlete with most medals: ID=11951, medals=13
Average number of medals is 1.85
ID
1         False
2         False
3         False
4         False
5         False
          ...
135567    False
135568    False
135569    False
135570    False
135571    False
Length: 135571, dtype: bool
Index([   766,    968,   3615,   3626,   3703,   3883,   3912,   3980,   3996,
         4060,
       ...
       130759, 130936, 130945, 131183, 131330, 131905, 133245, 133618, 134035,
       135343],
      dtype='int64', name='ID', length=384)
            ID                        Name Sex   Age  Height  Weight  \
1351       766                     Ji Adam   M  25.0   187.0    83.0
1352       766                     Ji Adam   M  25.0   187.0    83.0
1353       766                     Ji Adam   M  29.0   187.0    83.0
1738       968     Margarete "Grete" Adler   F  16.0     NaN     NaN
1739       968     Margarete "Grete" Adler   F  16.0     NaN     NaN
...        ...                         ...  ..   ...     ...     ...
270606  135343  Aleksandr Yuryevich Zubkov   M  31.0   189.0   102.0
270607  135343  Aleksandr Yuryevich Zubkov   M  35.0   189.0   102.0
270608  135343  Aleksandr Yuryevich Zubkov   M  35.0   189.0   102.0
270609  135343  Aleksandr Yuryevich Zubkov   M  39.0   189.0   102.0
270610  135343  Aleksandr Yuryevich Zubkov   M  39.0   189.0   102.0

                  Team  NOC        Games  Year  Season       City  \
1351    Czechoslovakia  TCH  1976 Summer  1976  Summer   Montreal
1352    Czechoslovakia  TCH  1976 Summer  1976  Summer   Montreal
1353    Czechoslovakia  TCH  1980 Summer  1980  Summer     Moskva
1738           Austria  AUT  1912 Summer  1912  Summer  Stockholm
1739           Austria  AUT  1912 Summer  1912  Summer  Stockholm
...                ...  ...          ...   ...     ...        ...
270606        Russia-1  RUS  2006 Winter  2006  Winter     Torino
270607        Russia-1  RUS  2010 Winter  2010  Winter  Vancouver
270608        Russia-2  RUS  2010 Winter  2010  Winter  Vancouver
270609        Russia-1  RUS  2014 Winter  2014  Winter      Sochi
270610        Russia-1  RUS  2014 Winter  2014  Winter      Sochi

                    Sport                                            Event  \
1351    Modern Pentathlon               Modern Pentathlon Men's Individual
1352    Modern Pentathlon                     Modern Pentathlon Men's Team
1353              Fencing                         Fencing Men's epee, Team
1738             Swimming            Swimming Women's 100 metres Freestyle
1739             Swimming  Swimming Women's 4 x 100 metres Freestyle Relay
...                   ...                                              ...
270606          Bobsleigh                             Bobsleigh Men's Four
270607          Bobsleigh                              Bobsleigh Men's Two
270608          Bobsleigh                             Bobsleigh Men's Four
270609          Bobsleigh                              Bobsleigh Men's Two
270610          Bobsleigh                             Bobsleigh Men's Four

         Medal
1351       NaN
1352    Silver
1353       NaN
1738       NaN
1739    Bronze
...        ...
270606  Silver
270607  Bronze
270608     NaN
270609    Gold
270610    Gold

[1938 rows x 15 columns]

## Question 6

Identify the top 3 most common sports in which athletes have won a Gold medal. List the sports in descending order of frequency.

In [32]:
# Your code goes here
gold = athelete_events[athelete_events['Medal'] == "Gold"]
sport_count = gold.groupby('Sport')['ID'].count()
commmon_sport = sport_count.sort_values(ascending= False).reset_index()
print(f"The top 3 common sports are: \n\n {commmon_sport[0:3]}")

The top 3 common sports are:

        Sport    ID
0  Athletics  1339
1   Swimming  1099
2     Rowing   978

## Question 7

As part of a sponsorship deal, a company wants to endorse athletes who have a consistent performance in the Olympics. The company defines consistency for athletes who have participated more than one year and those who have won at least one medal in every year.

How many such athletes exist?

In [44]:
# Your code goes here
years_id = athelete_events.groupby("ID")["Year"].nunique()
medals_recount = athelete_events.groupby(["ID", "Year"])["Medal"].count()
medal_year = (medals_recount > 0)
medal_sum = medal_year.groupby('ID').sum()
year_count = medals_recount.groupby('ID').count()
eligible_medal = (medal_sum==year_count)
eligible_consistent = eligible_medal & (years_id >1)
print("Number of consistent athletes:", eligible_consistent.sum())

Number of consistent athletes: 3375

## Question 8

A sports analytics firm wants to identify athletes who have shown versatility by competing in both individual and team sports. The firm is particularly interested in those who have won at least one medal in both types of events.

Provide the total number of athletes who have won medals in both individual and team sports.

Note: The following is a list of all team sports to reference for this question:

```
['Basketball', 'Football', 'Tug-Of-War', 'Ice Hockey', 'Handball', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh', 'Sailing', 'Baseball', 'Softball',
'Rugby Sevens', 'Volleyball', 'Beach Volleyball', 'Synchronized Swimming' 'Curling', 'Lacrosse', 'Polo', 'Cricket', 'Military Ski Patrol', 'Croquet']
```

In [50]:
# Your code goes here
teamsports = ['Basketball', 'Football', 'Tug-Of-War', 'Ice Hockey', 'Handball', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh', 'Sailing', 'Baseball', 'Softball',
'Rugby Sevens', 'Volleyball', 'Beach Volleyball', 'Synchronized Swimming' 'Curling', 'Lacrosse', 'Polo', 'Cricket', 'Military Ski Patrol', 'Croquet']

medal_notnull = athelete_events[athelete_events['Medal'].notnull()].copy()
medal_notnull['is_team'] = medal_notnull['Sport'].isin(teamsports)
team_ids = medal_notnull[medal_notnull['Sport'].isin(teamsports)]['ID'].unique()
indiv_ids = medal_notnull[medal_notnull['Sport'].isin(teamsports) == False]['ID'].unique()
eligible_ver = set(team_ids) & set(indiv_ids)
print(f"Total number of eligible athletes: {len(eligible_ver)}")

Total number of eligible athletes: 48

## Question 9

A sports health association is analyzing athletes' BMI to assess fitness, defining "fit" as those in the Normal weight category.

1. Create a **BMI** column using **Height** and **Weight**:  
$BMI=\frac{(Weight_{kg})}{Height_m^2}$

Fill missing Height and Weight values with average within the same Sex group and round BMI to 1 decimal place.

2. Count the number of "fit" athletes in the BMI range of 20-28 (inclusive).

Note: some athletes might have different weights and heights over the years. Take an average over all their measurements.

In [52]:
# Your code goes here
male_height_mean = athelete_events[athelete_events['Sex'] == 'M']['Height'].mean()
female_height_mean = athelete_events[athelete_events['Sex'] == 'F']['Height'].mean()

male_weight_mean = athelete_events[athelete_events['Sex'] == 'M']['Weight'].mean()
female_weight_mean = athelete_events[athelete_events['Sex'] == 'F']['Weight'].mean()
athelete_events.loc[(athelete_events['Sex'] == 'M') & (athelete_events['Height'].isna()), 'Height'] = male_height_mean
athelete_events.loc[(athelete_events['Sex'] == 'F') & (athelete_events['Height'].isna()), 'Height'] = female_height_mean
athelete_events.loc[(athelete_events['Sex'] == 'M') & (athelete_events['Weight'].isna()), 'Weight'] = male_weight_mean
athelete_events.loc[(athelete_events['Sex'] == 'F') & (athelete_events['Weight'].isna()), 'Weight'] = female_weight_mean

athelete_events['BMI'] = athelete_events['Weight'] / ((athelete_events['Height'] / 100) ** 2)
athelete_events['BMI'] = athelete_events['BMI'].round(1)
avg_bmiid = athelete_events.groupby('ID')['BMI'].mean()
fit_athletes = avg_bmiid[(avg_bmiid >= 20) & (avg_bmiid <= 28)]
print("Number of 'fit' athletes:", fit_athletes.count())

Number of 'fit' athletes: 116936